<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ksagtracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KSAGTRACKER">
        <activity android:name=".GroceryWork"></activity>
        <activity android:name=".Google_profile" />
        <activity android:name=".Google_login" />
        <activity android:name=".Register_mobile" />
        <activity android:name=".Search" />
        <activity android:name=".ToDo" />
        <activity android:name=".Notes" />
        <activity android:name=".moreoptions" />
        <activity android:name=".Dashboard_JS" />
        <activity android:name=".Dashboard_WP" />
        <activity android:name=".Loginotp" />
        <activity android:name=".AddCategory" />
        <activity android:name=".AddWork" />
        <activity android:name=".Divisions" />
        <activity android:name=".Registering" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlertReceiver" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>